 <!-- <form>
    <h1>{{formTitle}}</h1>
    <label>userName</label>
    <input type="text"[(ngModel)]="userName" name="userName"><br>
    <label>password</label>
    <input type="password" [(ngModel)]="password" name="password"><br>
   <button (click)="onLogin()">Login</button>
  </form> -->
  <!-- <table> -->
  <!-- <form >
   <label > First name:</label>
   <input type="text"><br>
   <label> Last name:</label>
   <input type="text"><br>
   <label > Company name:</label>
   <input type="text" ><br>
   <label > contact number:</label>
   <input type="number"><br>
   <label >D.O.B:</label>
   <input type="date" ><br>
   <label > Age:</label>
   <input type="number" ><br>
   <label >Designation:</label>
   <input type="text" ><br>
   <label >GENDER:</label>
   <input type="radio"  name="male">
   <input type="radio" name="female"><br>
   <label >Address:</label>
   <input type="text"><br>
   <label >flat no.:</label>
   <input type="text"><br>
   <label >building name: </label>
   <input type="text"><br>
   <label > landmark:</label>
   <input type="text"><br>
   <label >city:</label>
   <input type="text"><br>
   <label >pin:</label>
   <input type="number"><br>
   <label >state:</label>
   <input type="text" > 
   <input type="button" value="save" >
   <input type="button" value="submit">
   <input type="button" value="cancel">
  </form> -->
  <!-- </table> -->
  <!-- <app-login-child [formname]="userName" [formpassword]="password"  (ChildData1)="onRecieverData($event)"></app-login-child> -->