<!-- <app-login></app-login> -->
 <!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
 <!-- <div>
    <h1>this is {{title}}</h1>
    <h1 style="color: blue;">i am {{username}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ducimus quae in provident! Voluptate itaque iure dolores culpa natus voluptatibus quod, delectus consequuntur et animi reprehenderit corrupti quisquam nisi recusandae.
    </p>
 </div> -->
 <!-- <app-directives></app-directives> -->
  <!-- <app-practice></app-practice> -->
   <app-for></app-for>