<!-- <h1>home component</h1>
<p>login works!</p>
<form style="color:white; background-color:rgb(73, 206, 206);">
    <table>
    <span>First name</span>
    <input type ="text" name="a" [(ngModel)]="a"><br>
    <span>last name</span>
    <input type="text">
    <span>DATE OF BIRTH</span>
    <select>
      <option>Day</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
    </select>
    <select>
      <option>Month</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>
    <select>
      <option>year</option>
      <option>1996</option>
      <option>1997</option>
      <option>1998</option>
      <option>1999</option>
      <option>2000</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
      <option>2004</option> 
    </select>
    <span>email id</span>
    <input type ="email"><br>
    <span>mobile number</span>
    <input type ="number"><br>
    <span>GENDER</span>
    </table>
  </form> -->

  <!-- <form >
    <h1>USER REGISTRATION</h1>
    <label>first name </label>
    <input type="text"><br>
    <label> last name </label>
    <input type="text"><br>
    <label >D.O.B</label>
    <input type="date"><br>
    <label>gender </label>
    <select>
        <option value="male"></option><br>
        <option value="female"></option><br>
    </select>
    <input type="text"><br>
    <label>contact</label>
    <input type="number"><br>
    <input type="button" value="cancle"  >
    <input type="button" value="save"><br>
  </form> -->
<!-- <form > -->
  <!-- <h2>current address</h2> -->
  <!-- <label >flat number </label>
  <input type="text">
  <label >building </label>
  <input type="text"> -->
  <!-- <label >landmark</label>
  <input type="text"><br><br>
  <label >city</label>
  <input type="text">
  <label >pincode</label>
  <input type="number">
  <label >state</label>
  <input type="text"><br><br>
  <input type="button" >
  <span>Same as current address</span> -->
  <!-- </form> -->
   <form >
  <label >F1 </label> 
  <input type="text" [(ngModel)]="F1" name="F1">
  <label >F2 </label>
  <input type="text" [(ngModel)]="F2" name="F2">
  <label >F1 </label> 
  <input type="text" [(ngModel)]="F3" name="F3">
  <label >F2 </label>
  <input type="text" [(ngModel)]="F4" name="F4">
  <label >F1 </label> 
  <input type="text" [(ngModel)]="F5" name="F5">
  <label >F2 </label>
  <input type="text" [(ngModel)]="F6" name="F6">
  <input type="button" (click)="onclick()">
  <span>Same as current address</span>
   </form>

   <hr>

   <app-homechild [f1value] = "F1sender" [f2value]="F2sender"></app-homechild>